<main class="flex flex-col min-h-screen items-center p-8 gap-8">
  <h1 class="text-center font-medium text-4xl">Haji's Limble Project!</h1>

  <section
    class="border border-black rounded-lg w-full lg:w-5/12 p-4 space-y-4"
  >
    <h2 class="text-xl font-medium">Comments:</h2>

    <ul>
      @for (comment of comments; track comment.id) {
      <li
        class="py-2 border-b border-gray-500 flex flex-row justify-between last:border-b-0"
      >
        <span class="flex flex-col">
          <p class="text-xs text-gray-500">
            {{ getUserById(comment.sender.id)?.name }}
          </p>
          <p>{{ comment.message }}</p>
        </span>

        <p class="text-xs text-gray-500">{{ comment.createdAt }}</p>
      </li>
      } @empty {
      <li class="py-2 border-b border-gray-500">No comments yet!</li>
      }
    </ul>

    <form (ngSubmit)="addComment()" class="h-[42px] flex gap-4 relative">
      <input
        type="text"
        class="w-full border border-gray-500 rounded-lg p-2"
        placeholder="Enter your comment here..."
        [(ngModel)]="newCommentText"
        name="newCommentText"
        (keyup)="checkForUserMention()"
        #commentInput
        autocomplete="off"
        required
      />
      @if (showAutocomplete) {
      <app-autocomplete
        [users]="filteredUsers"
        [selectedUserIndex]="selectedUserIndex"
        (userSelected)="onUserSelected($event)"
      ></app-autocomplete>
      }
      <button
        type="submit"
        class="bg-blue-500 text-white rounded-lg hover:bg-blue-600 p-2 w-20"
      >
        Add
      </button>
    </form>
  </section>
</main>

<router-outlet />
